.LineGraph {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* background-color: lightseagreen; */
}

.ExitEntry{

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20x;
}

.ExitEntry p {
    margin: 10px;
    font-size: .7rem;
}