.Chord {
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: lightseagreen;
}

.Line {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* background-color: lightseagreen; */
}

h1 {
    font-weight: 900;
    font-size: 6rem;
    line-height: 84px;
    margin-bottom: 10px;
}