.LineGraphContainer {
    font-family: 'Roboto';
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 800px;
    background-color: mediumspringgreen;
}

.LineGraphContainer h1 {
    margin: 0;
    
}